@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

.manufacturerContainer{
    position: absolute;
    top: 100%;
    z-index: 99;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    height: 200%;
    & #header{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        background-color: white;
        border: 1px solid black;
        border-radius: 5px;
    }
    & #fabData{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        background-color: lightsalmon;
    }
    & p{
        margin: 0%;
        font: {
            family: Raleway, sans-serif;
            style: normal;
            weight: normal;
            size: 16px;
        }
        line-height: 120%;
        &:first-child{
            width: 5%;
            font-weight: bold;
        }
        &:nth-child(2){
            width: 25%;
        }
        &:nth-child(3){
            width: 12%;
        }
        &:last-child{
            width: 58%;
        }
    }
}