@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

#infoPageContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
    margin-top: 12.5vh;
    height: 87.5vh;
    & p{
        width: 74%;
        font: {
            family: Raleway, sans-serif;
            style: normal;
            weight: normal;
            size: 16px;
        }
        line-height: 120%;
    }
    & #p1{
        margin-top: 10vh;
        color: black;
        font: {
            weight: bold;
            size: 20px;
        }
    }
    & #p2{
        margin-top: 5vh;
    }
    & #p3{
        margin-top: 2.5vh;
    }
}